<a href="https://colab.research.google.com/github/BuiChiCuongs/AI_W8_24_3_23/blob/main/AI_W8_24_3_23_pima_indians.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import linear_model
url='pima-indians-diabetes.csv'
data=pd.read_csv(url)
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [2]:
X=data.iloc[:,:8]
y=data.iloc[:,8:9]

In [3]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)


Sc=StandardScaler()
Sc.fit(X_train)
X_train_Std=Sc.transform(X_train)
X_test_Std=Sc.transform(X_test)


model=Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print('Độ chính xác chưa scale: ',accuracy_score(y_test,y_pred))


model=Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(X_train_Std,y_train)
y_pred=model.predict(X_test_Std)
print('Độ chính xác scale: ',accuracy_score(y_test,y_pred))

Độ chính xác chưa scale:  0.5454545454545454
Độ chính xác scale:  0.7316017316017316

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)